@model WaterLevelIndicator.Models.ViewModels.WaterLevelViewModel

@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/watericon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body style=" background-color: lightskyblue;">

    <div class="contact1">
        <div class="container-contact1">
            <div class="contact1-pic js-tilt" data-tilt>
                <img src="~/images/waterlevel.jpg" alt="IMG">
            </div>

            @using (Html.BeginForm("Index", "WaterLevel", FormMethod.Post, new { @class = "contact1-form validate-form" }))
            {
                <span class="contact1-form-title">
                    Select Station:
                </span>

                <div class="wrap-input1 validate-input">
                    @Html.TextBoxFor(model => model.MeasurementDateTime, "{0:yyyy-MM-ddTHH:mm}", new { @class = "input1", @readonly = "readonly" })
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input">
                    @Html.DropDownListFor(model => model.Label, Model.LabelsSelectList, "", new { @class = "wrap-input1 validate-input" , style = "height: 41px; border-radius: 18px;" })
                    <span class="shadow-input1"></span>
                    @Html.ValidationMessageFor(model => model.Label, "", new { @class = "shadow-input1" })
                </div>

                <div class="container-contact1-form-btn">
                    <button type="submit" class="contact1-form-btn">
                        <span>
                            Submit
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            }
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $('.contact1-form').submit(function (event) {
                event.preventDefault(); // Prevent default form submission

                // Serialize form data
                var formData = $(this).serialize();

                // Submit form data via AJAX
                $.ajax({
                    url: '@Url.Action("Index", "WaterLevel")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            // Trigger SweetAlert if the database entry is successful
                            swal.fire({
                                title: 'Success!',
                                text: 'Fetching data for selected station',
                                icon: 'success'
                            }).then(function () {
                                window.location.href = '/Home/Index';
                            });
                        } else {
                            // Handle the case where database entry fails
                            swal.fire({
                                title: 'Error!',
                                text: 'Database entry failed.',
                                icon: 'error'
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle AJAX error
                        console.error(error);
                    }
                });

                $('#dropdown').change(function () {
                    var selectedLabel = $(this).val();

                    $.ajax({
                        url: '/api/waterlevel?selectedLabel=' + selectedLabel,
                        type: 'GET',
                        success: function (response) {
                        },
                        error: function (xhr, status, error) {
                        }
                    });
                });
            });
        });
    </script>

</body>
</html>


